---
title: "PlotMe | Contributors"
---
{% include header.html %}
<div id="main_content_wrap" class="outer">
    <div align="center">
        <canvas id="myCanvas"></canvas>
        <script type="text/javascript" src="javascripts/bubbles.js"></script>
        <script type="text/javascript" src="javascripts/animated_contributors.js"></script>
    </div>
    <!-- Contributors page - Every contributor needs to fill in their own content -->
    <section id="main_content" class="inner">
        <div class="contributors">
            <img src="https://avatars2.githubusercontent.com/u/1097596?v=3&s=400">

            <h2>ZachBora</h2>

            <p>ZachBora is the reason PlotMe exsist!</p>
            <!-- Zachbora needs to fill in more here -->
        </div>
        <div class="contributors">
            <img src="https://avatars1.githubusercontent.com/u/4009945?v=3&s=400">

            <h2>MattBDev</h2>

            <p>Also known as MBon29 and Matt</p>

            <p>Matt joined the PlotMe project in late August of 2014. He is an eighteen-year-old college student
                studying Game Programming. He is
                currently maintaining the PlotMe project and providing support to users.</p>
            <!-- Matt needs to fill in more here -->
            <!-- Matt says he doesn't need to because he is too lazy  ~Matt -->
        </div>
        <div class="contributors">
            <img src="https://avatars0.githubusercontent.com/u/10178301?v=3&s=460">

            <h2>MarkusAV</h2>

            <p>Markus joined the PlotMe project the 17th of December 2014 with the<br>task of creating and maintaining
                an official wiki for the PlotMe project.</p>

            <p>You might recognize him as MarkusV on Spigot and CoD2204 at Minecraft.</p>

            <p>More useless information to come :)</p>
        </div>
    </section>
</div>
{% include footer.html %}