---
title: "PlotMe | Downloads"
---
{% include header.html %}
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <div class="download-stable">
            <h3>Stable releases</h3>
                <a href="http://ci.worldcretornica.com/job/PlotMe-Core/241/artifact/target/PlotMe-Core.jar">PlotMe-Core v0.17.4</a>
            <br>
                <a href="http://ci.worldcretornica.com/job/PlotMe-DefaultGenerator/83/artifact/target/PlotMe-DefaultGenerator.jar">PlotMe-DefaultGenerator v0.17.4</a>
        </div>
        <div class="download-dev">
            <h3>Development builds</h3>
            <h4 style="color:red;">Development builds are only to be used for testing</h4>
                <a href="http://ci.worldcretornica.com/job/PlotMe-Core/lastSuccessfulBuild/artifact/">PlotMe-Core <span style="color:red;">(dev build)</span></a>
            <br>
                <a href="http://ci.worldcretornica.com/job/PlotMe-DefaultGenerator/lastSuccessfulBuild/artifact/">PlotMe-DefaultGenerator <span style="color:red;">(dev build)</span></a>
        </div>
        <div class="download-converter">
            <h3>LegacyConverter</h3>
                <a href="http://ci.worldcretornica.com/job/LegacyConverter/23/artifact/target/LegacyConverter.jar">LegacyConverter v1.0</a>
        </div>
    </section>
</div>
{% include footer.html %}