---
title: "PlotMe | Issues"
---
{% include header.html %}
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <div>
            <h2>Important guidelines to reporting an issue for PlotMe</h2>
            <h4>Frequently asked questions(FAQ):</h4>

            <p>Q: What are the permissions?<br>
                A: <a href="cmdsandperms.html">Click Here for all PlotMe permissions</a></p>

            <p>Q: I edited my config file, but PlotMe is still not working!<br>
                A: PlotMe-Core and PlotMe-DefaultGenerator configs must be edited matching each others worldnames</p>

            <p>Q: I have edited both my PlotMe-Core and PlotMe-DefaultGenerator configs, but PlotMe still doesn't work!<br>
                A: Make sure that your plotworlds are <strong>lowercase</strong> in both configs</p>

            <p>Q: I am experiencing normal MineCraft terrain in my plotworld<br>
                A: You are having a rare case, but we have a solution <a href="how-to-use.html">here</a>

            </p>

            <p>Q: How to allow players to use worldedit only in their own plot?<br>
                A: PlotMe automatically handles this and does not require any setup by you.</p>
            <p>
                Q: My generator randomly stopped working and is now generating nromal terrain.<br>
                A: If there is no error in the console, then it is not an issue with PlotMe. Report the issue to the Spigot team. 
            </p>
            <br>
            <h4>Reporting an issue</h4>

            <p>If none of the above Q/A helped you, then you should open a ticket. You must include the following in the ticket or else it will be
                ignored:</p>
            <ul>
                <li>Spigot/Bukkit version</li>
                <li>PlotMe Version (Saying "Latest" or "Newest" does not help. You can use /version PlotMe to find the version number.)</li>
                <li>A pastebin/hastebin of all your PlotMe configuration files</li>
                <li>A copy of your latest.log file (hastebin/pastebin these)</li>
                <li>What did you do in order for the issue to occur?</li>
            </ul>
            <br>

            <p>You ready to report that issue? Alright. <a href="https://github.com/WorldCretornica/PlotMe-Core/issues/new">Click here to open a new
                issue.</a></p>
        </div>
    </section>
</div>
{% include footer.html %}
