---
title: "PlotMe | About"
---
{% include header.html %}
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <h3>
            <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Welcome to PlotMe wiki.</h3>

        <p>PlotMe Wiki - Under Construction</p>

        <p style="font-size: 20px; text-decoration: none; color: black;">This page will go in depth and explain what
            plotme is, what features it has and why you
            should use it.</p>
    </section>
</div>
{% include footer.html %}
