---
title: "PlotMe | Upgrading"
---
{% include header.html %}
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <h3><a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                class="octicon octicon-link"></span></a>Upgrading from PlotMe 0.13 to PlotMe 0.15.2 or 0.16</h3>
        <ol type="1">
            <li>If you haven't done so already, stop your server</li>
            <li>Delete your PlotMe.jar file from your plugins folder</li>
            <li>Download the newest PlotMe version from Spigot</li>
            <li>Unzip the folder and move PlotMe-Core.jar and PlotMe-DefaultGenerator.jar to your plugins folder</li>
            <li>Upgrading to the new generator if you do not have Multiverse or MultiWorld:</li>
            <ul>
                <li>Open your bukkit.yml file</li>
                <li>For each plotworld, change the generator name from "PlotMe" to "PlotMe-DefaultGenerator"</li>
            </ul>
            <li>Upgrading to the new generator if you do have Multiverse or MultiWorld:</li>
            <ul>
                <li>Open the worlds.yml file found inside the Multiverse or MultiWorld folder.</li>
                <li>For each plotworld, change the generator name from "PlotMe" to "PlotMe-DefaultGenerator"</li>
                <li>If this does not work, copy and paste the bukkit.yml information from the setup page in your
                    bukkit.yml file.
                </li>
            </ul>
            <li>If you modified the PlotMe config file or renamed the jar files, you did something wrong.</li>
            <li>If you completed all the steps above then you should be able to run PlotMe 0.15.2 or 0.16</li>
        </ol>
    </section>
</div>
{% include footer.html %}
