	#header nav a {
		position: relative;
		border: solid 1px white;
		border-radius: 100%;
		-ms-behavior: url("pie.htc");
	}
		#header nav a:before {
			border: 0;
		}
	#footer {
		background: url("images/footer.png") repeat-x bottom left;
	}