	#header nav a {
		position: relative;
		border: solid 1px white;
		border-radius: 100%;
		-ms-behavior: url("css/ie/pie.htc");
	}
		#header nav a:before {
			border: 0;
		}
	#footer {
		background-image: url("images/footer.png");
		background-position: bottom left;
		background-repeat: repeat-x;
	}