@import url('http://fonts.googleapis.com/css?family=Open Sans:300,400,700');
@import url(font-awesome.min.css);
@import url(bootstrap.min.css);
@import url(flexslider.css);

body, html { overflow-x: hidden; }
body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-style: normal; 
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p, li { font-family: 'Open Sans', sans-serif; }
h3 { color: #FF6; padding: 10px 0 0 0; font-size: 16px; font-weight: bold; }

a { color: #FF6; }
a:hover, a:focus { color: white; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {  vertical-align: middle; }

.blue {
	color: #4BF;
}

.green {
	color: #5F5;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99; /* makes sure it stays on top */
}
#status {
    width: 10000px;
    height: 10000px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(../images/status.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}
#main-wrapper {
     overflow: hidden;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar {
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
}
.navbar-default {
    background: none;
    border: none;
}
.nav>li { margin-right: 10px; }
.nav>li:last-child { margin-right: 0; }
.nav i {
    display: block;
    padding: 15px 0 15px 0;
}
.nav .fa { font-size: 2em; }
.navbar-default .navbar-nav > li > a {
    color: white;
    background-color: rgba(0,0,0,0.5);
    width: 120px;
    height: 120px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: yellow;
    background-color: rgba(0,0,0,0.5);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: yellow;
    background-color: rgba(0,0,0,0.5);
}
.site-name {
    cursor: pointer;
    font-size: 46px;
}
.slogon { font-size: 24px; }

.templatemo-site-title { 
    color: #fff !important;
    text-align: center;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);  
    margin: 0 auto;
    padding: 50px 0 100px 0;
}
.templatemo-site-title a, .templatemo-site-title a:hover { 
	color: #fff;
	text-decoration: none;
}
.active { display: block; }
.inactive {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
.image-section {  position: fixed; }
.image-container {  position: relative; }
.image-container img { position: absolute; }
.templatemo-content {
    padding-bottom: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.templatemo-content section {
    font-family: 'Open Sans', sans-serif;
    position: relative; 
    overflow: hidden;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    padding-bottom: 20px;
}

.templatemo-content-wrapper { overflow: hidden; }
.templatemo-content h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px;
}
.templatemo-content p, .templatemo-content li {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
	padding: 5px 0px;
}
.footer-wrapper { margin: 0 auto; }
.footer {
    overflow: hidden;
    bottom: 10px;
    text-align: center;
}
.footer a { color: white; }
.footer a:hover { color: yellow; }
.footer .fa {
    font-size: 1.8em;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-top: 8px;
    background-color: rgba(0,0,0,0.5);
}
#tm-copyright {
	margin-top: 10px;
    font-family: 'Open Sans', sans-serif; 
    color: #fff; 
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);    
    font-size: 13px;
}
#tm-copyright a, #tm-copyright a:hover { 
	color: #fff;
	text-decoration: none;
}

.flexslider { 
    border-radius: 0;
    margin-bottom: 20px;
}
.flexslider li {
	margin: 0;
	padding: 0;
}

#carousel { margin: 0; }
#carousel li { margin-right: 5px; }
#carousel img {
    display: block;
    opacity: 1;
    cursor: pointer;
}
#carousel .flex-active-slide img {
    opacity: 0.5;
    cursor: default;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#map-canvas {
    height: 320px;
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .navbar { font-size: 1.4em; }
    .nav i { padding: 10px 0 10px 0; }
    .nav .fa { font-size: 1.6em; }
    .navbar-default .navbar-nav > li > a {
        width: 100px;
        height: 100px;
    }

    .footer {
        overflow:hidden; 
        position:static;
        text-align: center;        
    }
    #tm-copyright { margin-left: 0; }
}

@media screen and (max-width: 767px) {
    .nav i {
        display: inline-block;
        padding: 0 5px 0 0;
    }
    .navbar-default .navbar-nav > li > a {
        width: 100%;
        height: 60px;
        background: none;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background: none;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        background: none;
    }
    .navbar-default {
        background: rgba(0,0,0,0.4);
        border: none;
    }
}
