---
title: "PlotMe | Home"
---
{% include header.html %}
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
      <div>
        <h2>Important guidelines to reporting an issue for PlotMe</h2>
        <h4>Frequently asked questions(FAQ):</h4>
        <p>Q: What are the permissions?<br>
        A: <a href="http://plotme.worldcretornica.com/cmdsandperms/">Click me for all PlotMe permissions</a></p>
        <p>Q: I edited my config file, but PlotMe is still not working!<br>
        A: PlotMe-Core and PlotMe-DefaultGenerator configs must be edited matching each others worldnames</p>
        <p>Q: I have edited both my PlotMe-Core and PlotMe-DefaultGenerator configs, but PlotMe still doesn't work!<br>
        A: Make sure that your plotworlds are <strong>lowercase</strong> in both configs</p>
        <p>Q: I am experiencing normal MineCraft terrain in my plotworld<br>
        A: You are having a rare case, but we have a solution <a href="http://plotme.worldcretornica.com/how-to-use/">here</a><p>
        <br>
        <h4>Reporting an issue</h4>
        <p>If none of the above Q/A helped you, then you may open a ticket.., but make sure to include:</p>
        <ul>
          <li>Spigot/Bukkit version</li>
          <li>PlotMe version (also applies for development builds)</li>
          <li>A pastebin/hastebin of all your PlotMe configuration files</li>
          <li>A full startup log from the console as well as your latest.log (hastebin/pastebin these)</li>
          <li>What did you do in order for the issue to occur?</li>
        </ul>
        <br>
        <p>You ready to report that issue? Alright. <a href="https://github.com/WorldCretornica/PlotMe-Core/issues/new">Click me to open a new issue.</a></p>
      </div>
    </section>
</div>
{% include footer.html %}
